---
import '../../styles/module-icon.css';
import '../../styles/module-card.css';
import { getTexturePath, getRarityBackgroundUrl } from '../../utils/textures.js';

const { modules, shopCards, class: className, style: inlineStyle } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

const backgroundUrl =
  modules?.length > 0
    ? getRarityBackgroundUrl(modules[0].rarity, shopCards, baseUrl)
    : '';
const bgStyle = backgroundUrl ? `background-image: url('${backgroundUrl}');` : '';
const cardStyle = [bgStyle, inlineStyle].filter(Boolean).join(' ');
---

{modules?.length > 0 && (
  <div class:list={['modules-box', className]} style={inlineStyle}>
    <div class="module-card module-card--wide modules-box__card" style={cardStyle || undefined}>
      <div class="modules-box__body">
        {modules.map((module) => {
          const iconSrc = getTexturePath(module.icon_path, baseUrl);
          return (
            <div class="modules-box__slot">
              {iconSrc && <img class="module-icon" src={iconSrc} alt={module.name} />}
            </div>
          );
        })}
      </div>
      <span class="module-card__name">{modules[0].name}</span>
    </div>
  </div>
)}

<style>
  .modules-box {
    display: block;
    width: 100%;
    text-align: center;
    overflow: visible;
  }

  .modules-box__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    height: var(--module-icon-max-height, 88px);
    overflow: visible;
    padding: var(--module-card-padding, 6px) var(--module-card-padding-x, 8px);
    box-sizing: content-box;
  }

  .modules-box__slot {
    display: block;
    height: var(--module-icon-max-height, 88px);
    overflow: visible;
    text-align: center;
  }
</style>
