---
import ModuleBox from '../module/ModuleBox.astro';
import EmptyCell from './EmptyCell.astro';
import { getTexturePath } from '../../utils/textures.js';

const {
  bot,
  lightWep,
  heavyWep,
  supply,
  cycle,
  shopCards,
  titanWeapon,
  variant = 'standard',
} = Astro.props;
---

<div class="grid-row contents">
  {variant === 'standard' && (
    <>
      {bot ? (
        <>
          <div class="bot-icon-cell">
            {bot.icon_path && <img src={getTexturePath(bot.icon_path, import.meta.env.BASE_URL)} alt="" class="bot-icon" />}
          </div>
          <ModuleBox module={bot.torso[0]} shopCards={shopCards} />
          <ModuleBox module={bot.shoulder[0]} shopCards={shopCards} />
          <ModuleBox module={bot.chassis[0]} shopCards={shopCards} />
        </>
      ) : (
        <>
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
        </>
      )}

      <div class="grid-spacer"></div>

      {lightWep ? (
        <ModuleBox module={lightWep} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {heavyWep ? (
        <ModuleBox module={heavyWep} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {supply ? (
        <ModuleBox module={supply} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {cycle ? (
        <ModuleBox module={cycle} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
    </>
  )}

  {variant === 'titan' && (
    <>
      {bot ? (
        <>
          <div class="bot-icon-cell">
            {bot.icon_path && <img src={getTexturePath(bot.icon_path, import.meta.env.BASE_URL)} alt="" class="bot-icon" />}
          </div>
          <ModuleBox module={bot.torso[0]} shopCards={shopCards} />
          <ModuleBox module={bot.shoulder[0]} shopCards={shopCards} />
          <ModuleBox module={bot.chassis[0]} shopCards={shopCards} />
        </>
      ) : (
        <>
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
        </>
      )}

      <div class="grid-spacer"></div>

      {titanWeapon ? (
        <ModuleBox
          module={titanWeapon}
          shopCards={shopCards}
        />
      ) : (
        <EmptyCell />
      )}

      <EmptyCell />
      <EmptyCell />
      <EmptyCell />
    </>
  )}
</div>

<style>
  .contents {
    display: contents;
  }
  .bot-icon-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .bot-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
