---
import ModuleBox from '../module/ModuleBox.astro';
import EmptyCell from './EmptyCell.astro';

const {
  bot,
  lightWep,
  heavyWep,
  supply,
  cycle,
  shopCards,
  titanWeapon,
  variant = 'standard',
} = Astro.props;
---

<div class="grid-row contents">
  {variant === 'standard' && (
    <>
      {bot ? (
        <>
          <ModuleBox module={bot.torso[0]} shopCards={shopCards} />
          <ModuleBox module={bot.shoulder[0]} shopCards={shopCards} />
          <ModuleBox module={bot.chassis[0]} shopCards={shopCards} />
        </>
      ) : (
        <>
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
        </>
      )}

      <div class="grid-spacer"></div>

      {lightWep ? (
        <ModuleBox module={lightWep} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {heavyWep ? (
        <ModuleBox module={heavyWep} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {supply ? (
        <ModuleBox module={supply} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
      {cycle ? (
        <ModuleBox module={cycle} shopCards={shopCards} />
      ) : (
        <EmptyCell />
      )}
    </>
  )}

  {variant === 'titan' && (
    <>
      {bot ? (
        <>
          <ModuleBox module={bot.torso[0]} shopCards={shopCards} />
          <ModuleBox module={bot.shoulder[0]} shopCards={shopCards} />
          <ModuleBox module={bot.chassis[0]} shopCards={shopCards} />
        </>
      ) : (
        <>
          <EmptyCell />
          <EmptyCell />
          <EmptyCell />
        </>
      )}

      <div class="grid-spacer"></div>

      {titanWeapon ? (
        <ModuleBox
          module={titanWeapon}
          shopCards={shopCards}
        />
      ) : (
        <EmptyCell />
      )}

      <EmptyCell />
      <EmptyCell />
      <EmptyCell />
    </>
  )}
</div>

<style>
  .contents {
    display: contents;
  }
</style>
